.link-button {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #333; 
    color: #fff;
    border-radius: 5px;
}

.buttons-container {
    margin-top: 0rem;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    margin-top: -5rem;
    gap: 4rem;
}

.hero-left {
    flex: 0.7;
}

.hero-right {
    flex: 0.3;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem; 
    justify-items: center;
    align-items: center;

}

.hero-component {
  background-color: #59abc4;
  padding: 0.5rem;
  border-radius: 50px;
  width: 90%;
  aspect-ratio: 1 / 1;
}