.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 48vh;
  width: 100%;
  margin-top: 4rem;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem; 
  justify-items: center;
  align-items: center;
}
.skill-component {
	background-color: #0a5065;
  padding: 0.5rem;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.right-container {
  flex: 0.3;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
}

.left-container {
  flex: 0.7;
  text-align: center;
  justify-content: center;
  padding: 0 5%;
}

.top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tools-container{
  display: flex;
  align-content: center;
}

.soft-skills-container {
  display: flex;
  justify-content: center;
}