.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 48vh;
  width: 100%;
  margin-top: 6rem;
}

.top-container {
  margin-top: -3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem; 
  justify-items: center;
  align-items: center;
}

.skill-component {
	background-color: #0a5065;
  padding: 0.5rem;
  border-radius: 10px;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.left-container {
  flex: 0.7;
  text-align: center;
  padding: 0 5%;
}

.right-container {
  flex: 0.3;
  margin: 2rem;
  padding: 0 3%;
  text-align: center;
	background-color: #0a5065;
  border-radius: 150px;
}

.lang-container {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.tools-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-left: 0.5rem;
}

.soft-skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 18rem;
}

.bottom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(28, 133, 96);
  border-radius: 10rem;
  margin: 2rem;
}