.navBar {
	background-color: #0a5065;
	padding: 1rem;
	height: 80px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1000;
	transition: all .3s ease;
}

.navbar-shrink {
	height: 50px;
}

.navBar-container {
	max-width: 1400px;
	height: 100%;
	margin: 0 4rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.name {
	display: inline-block;
	margin-right: 10rem;
}

.linkBtn {
	margin-right: 1rem;
}

.contact-container {
	display: flex;
	align-items: center;
	gap: 1.2rem;
	background-color: cadetblue;
	border-radius: 2rem;
	padding: 0.2rem 1.5rem;
	margin-left: 2rem;
}