.navBar { 
    background-color: '#acc';
    padding: 1rem;
}

.name {
    display: inline-block; 
    marginRight: 2rem;
}

.linkBtn {
    margin-right: 2rem;
}

.contact-container {
    display: inline-block; 
    margin-right: 2rem;
    text-align: center;
}